body {
  background-color: #2E4052;
  font-family: Helvetica;
  color: #FFFFFF;
}
h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
.symbol_buttons {
  text-align: center;
}
.symbol_buttons > button {
  width: 30%;
  font-size: 30px;
}
#status_text {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: #FFC857;
}
.content {
  margin: auto;
  width: 600px;
  padding: 10px;
}
.score {
  width: 50%;
  float: left;
}
.scorename {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.scorevalue {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
